.container{
    background-color: rgb(167, 167, 167);
    float: left;
    padding: 15px;
    margin: 10px;
    border: 1px solid red;
}
#ok{
    float: left;
    margin-left: 100px;
    margin-right: 50px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(96, 96, 255);
    margin-left: 35px;
}
